<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
  <test thread-count="5" name="Test">
    <classes>     
      <class name="prashantbhakuni.Test.AddRemoveTest"/>
      <class name="prashantbhakuni.Test.BasicAuthTest"/>
      <class name="prashantbhakuni.Test.BrokenImagesTest"/>
      <class name="prashantbhakuni.Test.ChallengingDOMTest"/>
      <class name="prashantbhakuni.Test.CheckboxesTest"/>
      <class name="prashantbhakuni.Test.ContextMenuTest"/>
      <class name="prashantbhakuni.Test.DigestAuthenticationTest"/>
      <class name="prashantbhakuni.Test.DisappearingElementsTest"/>
      <class name="prashantbhakuni.Test.DragAndDropTest"/>
      <class name="prashantbhakuni.Test.DropdownTest"/>
      <class name="prashantbhakuni.Test.DynamicControlsTest"/>
      <class name="prashantbhakuni.Test.DynamicLoadingTest"/>
      <class name="prashantbhakuni.Test.EntryAdTest"/>
      <class name="prashantbhakuni.Test.ExitIntentTest"/>
      <class name="prashantbhakuni.Test.FileDownloadTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
